.footer {
    background-color: #333;
    color: white;
    padding: 20px;
    font-size: 0.9rem;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 60px;
    display: flex;
    justify-content: space-between; /* Sposta il contenuto ai lati e al centro */
    align-items: center;
  }
  
  .footer-center {
    text-align: left; /* Allinea il testo di footer-center a sinistra */
    flex: 1;
    max-width: 800px; /* Mantiene il contenitore con una larghezza specifica per centratura */
}
  
  .footer-links {
    margin-top: 5px;
  }
  
  .footer-links a {
    color: #bbb;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-links a:hover {
    color: white;
  }
  
  .footer-info {
    text-align: right;
    font-size: 0.9rem;
    color: #ffffff;
    margin-right: 30px; /* Riduci il margine destro per aggiustare la posizione */
    padding-right: 10px; /* Usa un padding per piccoli spostamenti */
  }
  