:root{
  --app-footer-height: 60px;
}

.footer {
  background-color: #333;
  color: white;
  padding: 20px;
  font-size: 0.9rem;

  position: fixed;
  width: 100%;
  bottom: 0;
  height: var(--app-footer-height);

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;
  z-index: 1000; /* così sta sopra ai contenuti, ma senza coprirli grazie al padding globale */
}

.footer-center {
  text-align: left;
  flex: 1;
  max-width: 800px;
}

.footer-links {
  margin-top: 5px;
}

.footer-links a {
  color: #bbb;
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: white;
}

.footer-info {
  text-align: right;
  font-size: 0.9rem;
  color: #ffffff;
  margin-right: 30px;
  padding-right: 10px;
}